################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CompStore1/.vs/CompStore1/v16/.suo
